[submodule "sistema-smart-tv"]
	path = sistema-smart-tv
	url = https://github.com/kakalpdev/sistema-smart-tv.git
[submodule "introducao-java"]
	path = introducao-java
	url = https://github.com/kakalpdev/introducao-java.git
